.il{
    font-weight: 600;
    color: black;
}
.container{
    background-image: url('../../images/profile-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}